body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #007bff;
}

input[type="number"] {
    text-align: center;
}

.matrix-container, .result-container, .steps-container {
    display: none;
}

table {
    background-color: #ffffff;
}

td {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    vertical-align: middle;
}

td[contenteditable="true"] {
    background-color: #f0f8ff;
}

#generateMatrixBtn {
    background-color: #007bff;
    border-color: #007bff;
}

#generateMatrixBtn:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#gaussButton {
    background-color: #28a745;
    border-color: #28a745;
}

#gaussButton:disabled {
    background-color: #c3e6cb;
    border-color: #c3e6cb;
}

#gaussButton:hover:not(:disabled) {
    background-color: #218838;
    border-color: #1e7e34;
}

#stepsList {
    margin-top: 20px;
}
